.token.color::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: inherit;
  background-color: var(--color-picker);
}

.color-picker__internal {
  margin: 0 2px;
}

.color-picker__external {
  margin-right: 2px;
}
